# Neon (Serverless Postgres)
DATABASE_URL=postgresql://neondb_owner:npg_2ZCTeBkESP8R@ep-red-lake-ao1i1gty-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Xendit
XENDIT_SECRET_KEY=xnd_development_TCgdQTgbJcqZWU7QFaamvUlaWqPD5OygZLZmCdZct8EssNaTTJ4NbTFmDum07CS7
XENDIT_PUBLIC_KEY=xnd_public_development_KapUVm46b4WYf45LLke1q6g5fhvDkC8zXqPxLzAi6d7EmO9XfS5UwkzBXt9Kgf5z
XENDIT_WEBHOOK_TOKEN=FU3SvommK269WwFgaOiM0ZJ9pGovtbrNLXUoLCHut9sMryG4

# App
DEBUG=false
